body {
    background-image: url(../img/comida-fundo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: #f7f7f7;
}

header > img {
    width: 100px;
    margin: auto;
}

header > nav {
    margin: auto;
    width: 60%;
}

header > nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header > nav > ul > li {
    padding: 5px;
    font-size: 1.3rem;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
}


main {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

main > #descricao > div {
    width: 100%;
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background-color: aqua;
}