html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
:root {
    font-size: 16px;
}

body {
    background-image: url(../img/comida-fundo.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 100px;
    background-color: #f7f7f7;
}

header > img {
    width: 100px;
    margin: auto;
}

header > nav {
    margin: auto;
    width: 60%;
}

header > nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

header > nav #menuBurger {
    display: none;
}

header > nav > ul > li {
    font-size: 1.3rem;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    padding: 5px;
}


header > nav > ul > li > a:hover {
    color: rgb(204, 27, 27);
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.425);
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 243, 243, 0.76);
}

main > #descricao {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding: 40px 30px;
    height: 85vh;
}

main > #descricao img{
    border-radius: 50%;
    width: 300px;

    animation-name: rodar;
    animation-duration: 1s;
}

@keyframes rodar {
    from{
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

main > #descricao > .titulo {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.titulo > p {
    width: 100%;
    text-align: center;
}

main > #cardapio {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.082);
}

main > #cardapio > .paragrafo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 70%;
}

main > #cardapio > #bloco {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
}

main > #cardapio > #bloco  article {
    width: 20%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
}


main  figure, main article > p, main figure > img {
    width: 100%;
}

main figure > img {
    border-radius: 50%;
}

main figure > img:hover {
    border-radius: 15px;
    transition: .5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.425);
    cursor: pointer;
}

main figcaption {
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 25px 0px;
}

/* Formulário - início */
#form{
    text-align: center;
    width: 60%;
    margin: 30px auto;
}

#form h2 {
    margin-bottom: 20px;
}

#form .dados, #form #textarea {
    padding: 5px;
    width: 100%;
    height: 2.5rem;
    font-size: 1.3rem;
    text-align: left;
    margin: 5px 0px;
    border-radius: 10px;
}

#form .dados:hover {
    color: rgb(204, 27, 27);
    font-weight: bold;
    transform: translate(-25px, 0px);
    transition: .3s;
}

#form #textarea:hover {
    color: rgb(204, 27, 27);
    font-weight: bold;
    transform: scale(1);
    transition: .3s;
}

#form input {
    display: inline-block;
    border-radius: 5px;
    background-color: #d1cfcf;
    width: 300px;
    vertical-align: middle;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    color: rgb(204, 27, 27);
}

#form input:focus, #form select:focus, #form textarea:focus {
    background-color: #ffffff;
    color: rgb(204, 27, 27);
    font-weight: bold;
}

#form label{
    display: inline-block;
    vertical-align: middle;
}

#form #textarea label, #form textarea {
    text-align: center;
    width: 100%;
  
}

#form #textarea {
    height: auto;
    transform: scale(.99);
}

#form textarea {
    background-color: #d1cfcf80;
    padding: 10px;
    margin-top: 5px;
    font-size: 1.3rem;
    text-align: justify;
    border-radius: 15px;
    border: none;
    color: rgb(204, 27, 27);
}

#form #btn {
    text-align: left;
}

#form #btn input {
    width: 15%;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #d1cfcf80;

}

#form #btn input{
    color: black;
}

#form #btn input:hover {
    color: #ffffff;
    background-color: rgb(204, 27, 27);
    text-decoration: underline;
    font-weight: bolder;
    transition: .2s;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

/* Formulário - fim */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

p, figcaption {
    font-size: 1.1rem;
}

figcaption {
    margin-bottom: 10px;
}

footer {
    background-color: #f7f7f7;
}

footer a {
    text-decoration: none;
    color: black;
}

footer #footerOne{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 60px;
    height: auto;
}

footer #footerOne a:hover{
    font-weight: 500;
    color: rgba(255, 0, 0, 0.534);
}

footer #footerOne img:hover {
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.432);
    transition: .2s;

    animation-name: rodar;
    animation-duration: 1s;
}

footer #copy {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 15px;
}

footer #copy p{
    font-size: .9rem;
}

footer #copy img {
    width: 40px;
    border-radius: 50%;
}

footer #contato {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    gap: 5px;
}

footer #contato h3 {
    text-decoration: none;
}

footer #contato p {
    width: 200px;
    text-align: left;
}

footer #contato .cont img {
    width: 15px;
}


footer #footerTwo #dev img {
    height: 18px;
    margin-left: 15px;
    border-radius: 2px;
}

footer #footerTwo{
    display: flex;
    color: black;
    justify-content: space-around;
    padding: 5px;
    font-size: 1rem;
    line-height: 12px;
    vertical-align: middle;
}

footer #footerTwo #dev img:hover {
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.432);
    transform: translate(0px, -5px);
    transition: .2s;
}

footer #dev #autor {
    font-style: bold;
    font-size: 1.1rem;
    font-family: cursive;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.432);
    color: rgb(204, 27, 27);   
}

footer #mapa {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

footer #mapaSite ul {
    list-style-type: none;
}

footer #mapaSite li {
    margin-bottom: 10px;
}

footer #mapaSite a {
    padding: 5px;
}


footer #mapaSite a:hover {
    color: rgb(204, 27, 27);
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 255, 0.425);
}

footer #redesSociais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #redesSociais h3, footer #redesSociais div {
    width: 100%;
}

footer #redesSociais div {
    display: flex;
    justify-content: space-evenly;
}

footer #redesSociais div img {
    width: 32px;
    opacity: .5;
}

footer #redesSociais div img:hover {
    opacity: 1;
    cursor: pointer;
}

footer #app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 60px;
}

footer #app #imagens {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

footer #app #imagens .img {
    width: 50%;
    height: 100%;
}

footer #app #imagens img {
    width: 100%;
    height: 52px;
    opacity: .6;
}

footer #app #imagens a {
    height: auto;
    padding: 5px;
}

footer #app #imagens a:hover img {
    opacity: 1;
    cursor: pointer;
}

footer #dev {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}